* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.green {
    background-color: #009688;
    width: 100%;
    height: 150px;
}

.grey {
    background-image: linear-gradient(#dddbd1, #d2dbdc);
    width: 100%;
    height: calc(100vh - 150px);
}
#app {
    position: absolute;
    top: 2.5vh;
    left: 10%;
    width: 80%;
    height: 95vh;
    /* margin: 2.5vh auto; */
    background-color: white;
}