<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp-web</title>
</head>
<body>
    <!-- Replica della grafica (immagine in allegato) con la possibilità di avere messaggi scritti dall’utente (verdi) e dall’interlocutore (bianco) assegnando due classi CSS diverse; -->
    <div class="green"></div>
    <div id="app">
        <section id="left_side">
            <div class="topper">
                <div class="personal_data">
                    <img src="img/avatar_7.jpg" alt="My profile picture">
                    <h2 id="my_name">Denis Paul</h2>
                </div>
                <div class="icons">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>

            </div>
            <div id="notifications">
                <i class="fas fa-bell-slash"></i>
                <div class="notification_text">
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <span>Attiva notifiche desktop</span>
                </div>
            </div>
            <div id="search">
                <div class="search_bar">
                    <div class="search_icon">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="search_tab">
                        <input type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                    
                </div>
            </div>
            <div id="chats">
                <div
                v-for="(contact, index) in contacts"
                @click="setActive(index)"
                :class="(index == activeIndex) ? 'active' : '' "
                class="chat">
                    <img :src="getImg(contact)" alt="icona">
                    <div class="chat_text_preview">
                        <p>{{ contact.name }}</p>
                        <span class="grey_small_text">
                            {{ getLastMessage(contact).text }}...
                        </span>
                    </div>
                    <div class="date">
                        <span class="grey_small_text">{{ getLastMessage(contact).date}}</span>
                    </div>
                </div>
            </div>
        </section>
        <section id="right_side">
            <div class="topper">
                <div class="informations">
                    <img :src="activeContactImg" alt="profile_picture">
                    <div class="chat_text_preview">
                        <p>{{ activeContactName }}</p>
                        <span class="grey_small_text">Ultimo accesso oggi alle {{ activeContactOnline }}</span>
                    </div>

                </div>
                <div class="icons">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>

                </div>
            </div>
            <div id="text_chat">
                <div class="message"
                v-for="(message, index) in contacts[activeIndex].messages"
                :class="message.status == 'sent' ? 'sent' : 'received'">
                    <p>{{ message.text }}</p>
                    <span class="grey_small_text message_date">{{ message.date }}</span>
                 </div>
                <!-- <div class="message sent">
                    <p>Hai portato a spasso il cane?</p>
                    <span class="grey_small_text message_date">10/01/2020 15:30:55</span>
                </div>
                <div class="message sent">
                    <p>Ricordati di dargli da mangiare</p>
                    <span class="grey_small_text message_date">10/01/2020 15:50:00</span>

                </div>
                <div class="message received">
                    <p>Tutto fatto!</p>
                    <span class="grey_small_text message_date">10/01/2020 16:15:22</span>

                </div> -->
            </div>
            <div id="text_bar">
                <i class="far fa-smile"></i>
                <input type="text" placeholder="Scrivi un messaggio">
                <i class="fas fa-microphone"></i>
            </div>
        </section>
    </div>    
    <div class="grey"></div>
    <script src="script/script.js"></script>
</body>
</html>